body {
    font-family: 'Century Gothic';
    background-color: #d4feee;
    text-align: center;
}
div{
    margin: 10px;

}
.table {
    margin: 0 auto;
}
.labels{
    display: inline-block;
    width:150px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    margin: 0px;
}
.blocknav
{
    display: inline-block;
    float: left;
    margin: 0px;
}
.blocknavlogin
{
    display: inline-block;
    float: right;
    margin: 0px;

}
#logo{
    text-align: left;
    word-wrap: break-word;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
    width: 160px;
    height: 80px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.login{
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    margin-top: 30px;
}
.header{
    height: 150px;
    padding-top: 50px;
}
.recipeView{
    float: left;
    margin:10px;
}
.createRecipe{
    padding-left: 20px;
    text-align: left;
}